@model IEnumerable<Model.Product>

<table class="table" id="replace-table">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Tên sản phẩm</th>
            <th>Chi tiết</th>
            <th>Sửa</th>
            <th>Xóa</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr id="row-@item.ID">
            <td>
                <img src="@item.Image" style="width :150px" />
            </td>
            <td class="font-weight-bold">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="font-weight-bold">
                @Html.ActionLink("Chi tiết", "ProductDetails", new { id = item.ID })
            </td>
            <td class="font-weight-bold">
                @Html.ActionLink("Sửa", "EditProduct", new { id = item.ID })
            </td>
            <td class="font-weight-bold">
                @Ajax.ActionLink("Xóa", "DeleteProduct", new { @id = item.ID }, new AjaxOptions
           {
               Confirm = "Bạn có chắc chắn muốn xóa bản ghi này?",
               OnComplete = "$('#row-" + @item.ID + "').remove()",
               HttpMethod = "POST"
           })
            </td>
        </tr>
    }

</table>

