@model Model.NewCategory

@{
    ViewBag.Title = "Chi tiết danh mục tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var category = ViewBag.Category;
}

<br />
<div>
    <h3>@Model.Name</h3>
    <hr />
    <p>
        <a href="/Admin/New/CreateNewCategory" class="btn btn-primary">
            Thêm mới
        </a>
    </p>
    <table class="table table-striped table-dark">
        <tr>
            <td>Tên danh mục sản phẩm</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>Tiêu đề</td>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <td>Danh mục cha</td>
            <td>@category</td>
        </tr>
        <tr>
            <td>Thứ tự hiển thị</td>
            <td>@Html.DisplayFor(model => model.DisplayOrder)</td>
        </tr>
        <tr>
            <td>Tiêu đề SEO</td>
            <td>@Html.DisplayFor(model => model.SeoTitle)</td>
        </tr>
        <tr>
            <td>Ngày tạo</td>
            <td>@Html.DisplayFor(model => model.CreatedDate)</td>
        </tr>
        <tr>
            <td>Người tạo</td>
            <td>@Html.DisplayFor(model => model.CreatedBy)</td>
        </tr>
        <tr>
            <td>Ngày sửa</td>
            <td>@Html.DisplayFor(model => model.ModifiedDate)</td>
        </tr>
        <tr>
            <td>Người sửa</td>
            <td>@Html.DisplayFor(model => model.ModifiedBy)</td>
        </tr>
        <tr>
            <td>Meta Keyword</td>
            <td>@Html.DisplayFor(model => model.MetaKeyword)</td>
        </tr>
        <tr>
            <td>Meta Description</td>
            <td>@Html.DisplayFor(model => model.MetaDescription)</td>
        </tr>
        <tr>
            <td>Hiển thị trên trang chủ</td>
            <td><input type="checkbox" checked=@Model.ShowOnHome disabled /></td>
        </tr>
        <tr>
            <td>Trạng thái</td>
            <td><input type="checkbox" checked=@Model.Status disabled /></td>
        </tr>
    </table>

</div>
<p>
    @Html.ActionLink("Sửa", "EditNewCategory", new { id = Model.ID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Trở về", "NewCategory", null, new { @class = "btn btn-primary" })
</p>
