@model IEnumerable<Model.NewCategory>

@{
    ViewBag.Title = "Danh mục tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Danh mục tin tức</h2>

<p>
    <a href="/Admin/New/CreateNewCategory" class="btn btn-primary">
        Thêm mới
    </a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Tên danh mục
            </th>
            <th>
                Người tạo
            </th>
            <th>Chi tiết</th>
            <th>Sửa</th>
            <th>Xóa</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr id="row-@item.ID">
            <td class = "font-weight-bold">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class = "font-weight-bold">
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td class = "font-weight-bold">
                @Html.ActionLink("Chi tiết", "DetailNewCategory", new { id = item.ID })
            </td>
            <td class = "font-weight-bold">
                @Html.ActionLink("Sửa", "EditNewCategory", new { id = item.ID })
            </td>
            <td class="font-weight-bold">
                @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
            {
                Confirm = "Bạn có chắc chắn muốn xóa bản ghi này?",
                OnComplete = "$('#row-" + @item.ID + "').remove()",
                HttpMethod = "POST"
            })
            </td>
        </tr>
    }

</table>
